/* Add the background image to the navigation menu */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url("/static/image/navi.png");
  background-size: cover;
  height: 300px;
  padding: 10px;
}

.navbar a {
  color: white; /* change color to white for better visibility */
  text-decoration: none;
  margin-right: 20px;
  font-size: 30px; /* change font size to 1/3 of the height of the background */
}

.navbar a:hover {
  color: lightgray; /* change hover color */
  text-decoration: underline; /* add an underline on hover */
}

/* Add some general styles to the page */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0 20px; /* add some padding to the main content area */
}

/* Add a footer to the page */
footer {
  background-color: lightgray;
  color: white;
  text-align: center;
  padding: 10px;
}
