body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items :center;
}
 .container h3 {
   text-indent: 2em;
   font-family: Arial, sans-serif;
   font-size: 16px;
   text-align: left;
   width : 90%
}
 header {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px;

}
 h1 {
  font-size: 36px;
  margin: 0;
  background-color: #fff;
  color: #fff;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.input-section p {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: left;
}

.input-section ul {
  margin-bottom: 30px;
  font-size: 16px;
  list-style-type: square;
  text-align: left;
}

.input-section form {
  display: flex;
  flex-direction: column;

}

.input-section form label {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;


}
form label{
display: block;
 margin-bottom: 20px;
}

.input-section form input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.input-section form input[type="text"] {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;

}

.input-section form .input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.input-section form .input-group label {
  width: 30%;
  margin-right: 10px;
}
#mode {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#mode option {
  font-size: 16px;
  padding: 10px;
  width:80%
}

.run-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
}

.download-button {
  margin-top: 30px;
  padding: 10px 200px
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
}


.run-button,
.download-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.run-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}


.download-button {
  background-color: #007bff;
  color: #fff;
  border: none;
}
